<br><br><br>
<form [formGroup]="miForm" (ngSubmit)="autentificacion()">
  <p>
    <mat-form-field appearance="standard">
        <mat-icon matPrefix>account_circle</mat-icon>
      <mat-label>Introduce Email</mat-label>
    
      <input matInput placeholder="Email" formControlName="email">
      
      
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="standard">
        <mat-icon matPrefix>key</mat-icon>
      <mat-label>Introduce Password</mat-label>
      <input matInput type="password" placeholder="Password" formControlName="password">
      
     
    </mat-form-field>
  </p>
  <button mat-raised-button color="primary">Primary</button>


</form>