.sidenav-container {
  height: 100%;
 
}

.sidenav {
  width: 200px;
 

}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
}
.spacer{
  flex:1 1 auto;
}
.container {
  width: 80%;
  margin: auto;
}