 
<mat-sidenav-container class="sidenav-container">
 
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'push' : 'side'"
    
    >
    <mat-toolbar >Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="admin">Admin</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="mat-toolbar">
      <button *ngIf="usuario"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>angular-material </span>
      <a  style="margin-left: 20px;" mat-icon-button class="nav-link" routerLink="home" routerLinkActive="active"><mat-icon>home</mat-icon></a>      <span class="spacer"></span>
     <span *ngIf="usuario" >{{usuario}}</span>
     
        <a  mat-icon-button class="nav-link" routerLink="/auth" routerLinkActive="active"><mat-icon>login</mat-icon></a>
        

      <button (click)="logout()" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
       <mat-icon>logout</mat-icon> 
     </button>
    </mat-toolbar>
    <div class="container">
          <router-outlet></router-outlet>

    </div>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
